#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#Somthing{
    background-color: aqua;
    
}
#somthing img{
  height: 300px;
    margin-top: 40px
}
